@import '../../../../common/scss/breakpoints.scss';
@import '../../../../common/scss/variables.scss';

.workers {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 84px;
    cursor: pointer;
  }

  &__year-group {
    color: $colorLightgrey;
    font-size: 15px;
    font-weight: 500;
    margin: 22px 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__year-border {
    width: 72px;
    height: 1px;
    background-color: $colorLightgrey;

    &_left {
      margin-left: 8px;
    }

    &_right {
      margin-right: 8px;
    }

    @include for-large-up {
      width: 40%;
    }
  }

  &__year-title {
    padding: 0;
    margin: 0;
  }

  &__img {
    padding: 6px 16px 6px 0px;
  }

  &__avatar {
    border-radius: 50%;
    width: 72px;
    height: 72px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $colorTextAlmostBlack;
  }

  &__tag {
    font-size: 14px;
    line-height: 18px;
    color: $colorTextGrey;
    margin-left: 4px;
  }

  &__position {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $colorTextGraphite;
  }

  &__birthday {
    display: none;
    font-size: 15px;
    line-height: 20px;
    color: $colorTextGraphite;
    position: absolute;
    right: 20px;
  }
}
