.skeleton-worker-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    margin: 72px 0 24px 0;
  }

  &__name {
    border-radius: 50px;
    width: 210px;
    height: 28px;
  }

  &__position {
    margin: 20px 0 0 0;
    border-radius: 50px;
    width: 80px;
    height: 16px;
  }

  &__age {
    position: absolute;
    top: 330px;
    left: 16px;
    width: 175px;
    height: 20px;
    border-radius: 50px;
  }

  &__phone {
    position: absolute;
    top: 390px;
    left: 16px;
    width: 175px;
    height: 20px;
    border-radius: 50px;
  }
}
