@import '../../../../../common/scss/variables.scss';

.nobody-block {
  height: 43vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    height: 56px;
    margin: 0 0 8px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 12px 0;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    color: $colorTextGrey;
    margin: 0;
  }
}
